body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

h1 {
    color: black
}

#errors {
    color: rgb(156, 19, 136);
}

#board {
    width: 450px;
    height: 450px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 48px; 
    height: 48px;
    border: 1px solid rgb(232, 178, 227);

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.number {
    width: 44px; 
    height: 44px;
    border: 1px solid rgb(156, 19, 136);
    margin: 2px;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: rgb(156, 19, 136);
}

.tile-start {
    background-color: rgb(245, 227, 245);
}

.horizontal-line {
    border-bottom: 1px solid rgb(156, 19, 136);
}

.vertical-line {
    border-right: 1px solid rgb(156, 19, 136);
}